.developer-info {
    font-family: var(--secondary-font);
    color: var(--font-primary-color);

    @include for-mobile-only {
        flex-direction: column;
        align-items: center;
    }

    padding-bottom: 48px;
    margin-top: 48px;
}

.developer-info-header {
    h2 {
        font-size: rem(30px);
        margin-top: 0;
    }

    h3 {
        color: #238f78;
        font-size: rem(18px);
        text-shadow: none;
    }
}

.dev-omer {
    background-image: url("../assets/img/devs/OmerZfira.jpg");
}
.dev-hadas {
    background-image: url("../assets/img/devs/HadasKoren.jpg");
}

.header-top {
    display: none;
    text-align: center;
    @include for-mobile-only {
        display: block;
    }
}

.header-side {
    display: block;
    @include for-mobile-only {
        display: none;
    }
}

.developer-summary {
    margin-left: 20px;
}

.developer-info-desc {
    font-family: var(--primary-font);
    font-size: rem(12px);
    line-height: 22px;
    text-shadow: none;
}


.developer-img {
    flex-shrink: 0;
    display: block;
}

.developer-info-socials {
    align-self: flex-end;
    margin-top: 5px;

    li {
        text-align: center;
        width: 25px;
        height: 24px;
        padding: 6px;   
    }

      .facebook {
        background-color: lighten(#3B5998, 20%);
        &:hover {
            background-color: #3B5998;     
        }

        @include for-mobile-only {
            background-color: #3B5998;
        }
    }
      .twitter {
        background-color: lighten(#00aced, 20%);
        &:hover {
            background-color: #00aced;
        }              
        @include for-mobile-only {
            background-color: #00aced;
        }
    }
      .google {
        background-color: lighten(#dd4b39, 20%);
        &:hover {
            background-color: #dd4b39;     
        }
        @include for-mobile-only {
            background-color: #dd4b39;
        }        
    }
      .pinterest {
        background-color: lighten(#cb2027, 20%);
        &:hover {
            background-color: #cb2027;    
        }
        @include for-mobile-only {
            background-color: #cb2027;
        }         
    }
      .linkedin {
        background-color: lighten(#007bb5, 20%);
        &:hover {
            background-color: #007bb5;    
        }
        @include for-mobile-only {
            background-color: #007bb5;
        }          
    }
      .dribble {
        background-color: lighten(#ea4c89, 20%);
        &:hover {
            background-color: #ea4c89;
        }
        @include for-mobile-only {
            background-color: #ea4c89;
        }          
    }
}
