.gallery-editor {
    display: none;
    background-color: #323232;
    height: 528 px;
    width: 100%;
    margin: auto;
    border-radius: 2%;
    box-shadow: 0 0 8px 4px rgba(120, 120, 120, 0.75);
}

.back-to-gallery {
    margin: em(5px);
    color: #b3d0ea;
}

.edit-text{
    width: 30%;
    margin: 3%;
}

@media screen and (max-width: 925px) {
    .edit-text {
        flex-direction : row;
        width: 100%; 
        justify-content: space-around;  
    }
    .canvas-wrapper {
        justify-content: center;
        
    }
} 

@media screen and (max-width: 630px) {
    .gallery-editor {
        height: 100%; 
    }
} 

.edit-text input {
    padding: 10px;
}

.delete-top-text {
    padding: 12px;
}

.delete-bottom-text {
    padding: 12px;
}

.save-image{
    margin: 2%;
}

.increase-font-size, .decrease-font-size{
    border-radius: 50%;
    border: 1px solid var(--font-secondary-color);
    background-color: var(--font-secondary-color);
}

.delete-top-text, .delete-bottom-text {
    border: 1px solid black;
    background-color: #bebebe;
    color: red;
}

.font-color {
    border: 1px solid black;
    background-color: #bebebe;
    // color: red;
    width: 100px;
}
