.gallery-editor {
    display: none;
    background-color: #323232;
    height: 528 px;
    width: 100%;
    margin: auto;
    border-radius: 2%;
    box-shadow: 0 0 8px 4px rgba(120, 120, 120, 0.75);
}

.back-to-gallery {
    margin: em(5px);
    color: #b3d0ea;
}

.edit-text{
    width: 30%;
    margin: 3%;
}

@media screen and (max-width: 925px) {
    .edit-text {
        flex-direction : row;
        width: 100%; 
        justify-content: space-around;  
    }
    .canvas-wrapper {
        justify-content: center;
        
    }
} 

@media screen and (max-width: 630px) {
    .gallery-editor {
        height: 100%; 
    }
} 

.meme-label-top, .meme-label-bottom {
    padding: em(5px);
    height: 31px;
}

.delete-top-text, .delete-bottom-text {
    padding: 12px;
    padding: em(10px);
}

.save-image{
    margin: 2%;
}

.delete-top-text, .delete-bottom-text {
    border: 1px solid black;
    background-color: #bebebe;
    color: red;
}

input .font-color {
    padding: 0;
    width: 10px;
}

.editor-tools {
    width: 100%;
    height: 31px;
    background-color: #484444;
    box-shadow: 0 0 8px 4px rgba(10, 10, 10, 0.25);
    padding: em(5px);
    color: var(--font-primary-color);
    margin-top:3%;
}

.editor-tools button, input[type='color']{
    background-color: #484444;
    border: none;
    &:hover {
        box-shadow: 0 0 5px #51cbee;
        border: 1px solid #51cbee; 
    }
}