
/*----------  Playfair Font  ----------*/

@font-face {
  font-family: 'LatoBold';
  src: url('../assets/fonts/lato/Lato-Bold.ttf'); 
}

@font-face {
  font-family: 'LatoRegular';
  src: url('../assets/fonts/lato/Lato-Regular.ttf'); 
}

@font-face {
  font-family: 'LatoBlack';
  src: url('../assets/fonts/lato/Lato-Black.ttf'); 
}

@font-face {
  font-family: 'MavenProRegular';
  src: url('../assets/fonts/mavenpro/MavenPro-Regular.ttf');
}
