::-webkit-input-placeholder {
  color: #626262;
  font-size: rem(14px);
  font-family: var(--primary-font);
}

.get-in-touch-form {
  width: 580px;
  flex-shrink: 3;
  @include for-tablet-only {
    width: 540px;
  }

  @media (max-width: 740px) {
      width: 470px;
    }

  @media (max-width: 695px) {
      width: 430px;
    }

  @media (max-width: 660px) {
      width: 380px;
    }
  @media (max-width: 610px) {
      width: 100%;
    }
}

.get-in-touch-form input,textarea {
  padding: 12px;
  background-color: #454545;
  border: none;
  margin-bottom:3%;
  color: var(--gray-font-secondary-color);
}

.get-in-touch-form textarea {
  height: 148px;
}

.submit-form {
  width: 90px;
  align-self: flex-end;
  margin-bottom: 53px;
  background-color: #2eb398;
  border: none;
  font-size: rem(12px);
  font-family: var(--primary-font);
  padding: 11px 30px;
  color: var(--font-primary-color);

  @media (max-width: 610px) {
    margin-bottom: 20px;
  }

}