.gallery {
  height: 724px;
  display: block;
  position: relative;
}

.memes-gallery-image {
}


.toggle-popular-keywords {
    width: 136px;
}

.search-memes {
}

.memes-gallery {
  margin-top: em(20px);
  
}

.popularKeywords {
  width: 350px;
  height: 400px;
  background-color: grey;
  display: none;
  position: absolute;
  top: 136px;
  right: 71px;
  z-index: 2;
  padding: em(15px);
}

.popularKeywords h4 {
  color: white;
}

.popularKeywords .keywords-cloud{
  color: #90cbf6;
  font-size: rem(20px);
}

.keywords-cloud {
  width: 100%;
  height: 100%;
  background-color: white;
}