.gallery {
  height: 724px;
  display: block;
}

.memes-gallery-image {
    /*background-image: "";*/
}

.toggle-popular-keywords {
    width: 136px;
}

.search-memes {
    display: block;
}

.memes-gallery {
    display: block;
}