.hr-wrapper hr {
  width: 0; 
  border-top: 1px solid #e4e9eb;
  flex: 0 1 40%;
  margin: 0;
}

.memes-gallery-image {
  margin-left: 5px;
  margin-right: 5px;
}

.search-memes {
  &>input , div {
    margin: 3px 0;
  }
  @include for-mobile-only {
    justify-content: space-around;
  }
}
.toggle-gallery-display {
    @media (max-width: 553px) {
      order: 2;
    }
}

.memes-gallery {
  margin-top: em(20px);
    
  @media (max-width: 763px) {
   max-height: 560px;
   overflow: scroll;
  }
}

.keywords-container {
  order: 3;
  margin: 5px;

  @include for-mobile-only {
    justify-content: space-around;
  }

  h4 {
    text-decoration: underline;
  }

}
.keywords-cloud {
  height: 100%;
  flex-grow: 1;
  margin: 5px 0;
  background-color: white;
  display: flex;
  padding: 3px;
  text-shadow: none;
  box-shadow: 0 0 1px 1px  rgba(170, 170, 170, 0.9); 

  span {
    font-family: MavenProRegular;
    margin-right: 2px;
    margin-left: 2px;
    line-height: 1.15;
    text-align: center;
    cursor: pointer;

    &:hover {
      font-weight: 900;
    }
  }
}

.memeCanvas {
  width: 500px;
  height: 300px;
}

