.get-in-touch hr {
        border-top: 1px solid #2b2b2b;
}

.get-in-touch-headline {
    display: block;
    font-family: var(--secondary-font);
    margin-bottom: 2%;
    
}

.get-in-touch-headline label {
    font-size: rem(18px);
    color: var(--gray-font-secondary-color);
}

.get-in-touch-headline h2 {
    font-size: rem(30px);
    color: var(--gray-font-primary-color);
    margin-top: em(25px);
}

.get-in-touch .inner-container {
    border: none;
    padding-bottom: em(20px);
}

.get-in-touch-details-extra {
    width: 180px;
    height: 117px;
    font-family: LatoBlack, LatoRegular;
    color: var(--gray-font-secondary-color);
    word-spacing: 8px;
}

.get-in-touch-details-contact {
    width: 152px;
    height: 54px;
    color: var(--gray-font-secondary-color);
    margin-top: 29%;
    margin-left: -2%;
    font-family: LatoBold;
    padding-left: 5px;
}

.get-in-touch-details {
    width: 367px;
    height: 211px;
    margin-left: 2%;
    margin-top: 14%;
    font-size: rem(12px);
    
}

.iconsLocation {
    margin-right: 10px;
}