@mixin section-padding {
  padding: em(25px) em(35px);

    .inner-container {
      padding-left: em(20px);
      padding-right: em(20px);
    }
}

/*----------  Containers  ----------*/
.header {
  font-size: rem(30px);
} 

.inner-container {
  max-width: 820px;
  margin: 10% auto;
  margin-bottom: 0;
  margin-top: 0;
  height: 100%;
}

.gallery {
  // min-height: 724px;
  height: 724px; // REMOVE this and enable COMMENT ABOVE
  display: block;
  position: relative;
  overflow: hidden;
  @include section-padding;

  h1 {
    margin-top: 0;
    padding-top: em(15px);
  }
}

.about {
  background-color: #2eb398;
  min-height: 336px;
  @include section-padding;

  .inner-container {
    border-right: 1px solid #219d84;
    border-left: 1px solid #219d84;
  }
}

.get-in-touch {
  background-color: #323232;
  min-height: 564px;
  @include section-padding;
}

footer {
  background-color: #222;
  height: 40px;
  padding: em(15px) em(40px);
}


